
html{
    font-family: "Oxygen", arial, sans-serif;
    overflow-x: hidden;
}


@keyframes slide{
    0%, 22%, 100%{
        transform: translateY(0);
    }

    25%, 47%{
        transform: translateY(-40vh);
    }

    50%, 72%{
        transform: translateY(-80vh);                    
    }

    75%, 97%{
        transform: translateY(-120vh);                    
    }  
}

.smoke{
    background-image: radial-gradient(closest-corner at 50% 30%, rgb(151, 151, 151), transparent);   
    background-size: cover;
    background-position: center -40px;
    background-repeat: no-repeat;
    padding-bottom: 80px;
    width: 100%;
}



.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(16, 45, 105);
}

.div-logotipo-header{
    display: flex;
    align-items: center;
    padding: .5em 0;
}

.logotipo-header{
    width: 4em;
}

.div-logotipo-header span{
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(255, 102, 0);
    border-bottom: 4px double rgb(255, 102, 0);
    border-top: 4px double rgb(255, 102, 0);
    user-select:none
}

.nav-header{
    width: 100vw;
}

.nav-header ul{
    padding: 0;
    margin: 0;
}

.nav-header li{
    list-style: none;
    text-align: center;
    transition: all .2s;
}


.nav-header li a{
    color: white;
    text-decoration: none;
    font-size: 1em; 
    padding: 1.5em; 
    display: block;
    text-transform: uppercase;
    font-weight: bolder;
}

.nav-header li:hover{
    background-color: rgb(0, 24, 75);
    color: rgb(255, 102, 0);
}








.slide-outside{
    width: 80vw;
    height: 40vh;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.678);
    margin: 50px auto;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 10px;
}

.slide-inside{
    width: 100%;
    animation: slide 20s infinite cubic-bezier(.17,-0.38,.76,1.34);
}

.slide-inside img{
    display: block;
    width: 100%;
    height: 40vh;
}







.mid-content{
    background-color: rgb(244, 250, 252);
    text-align: center;
    padding-bottom: 30px ;
}

.mid-content-title{
    color: rgb(255, 102, 0);
    font-size: 1.5em;
    padding-top: 50px;
    margin: 0 50px 0 50px;
    text-transform: uppercase;
}
.mid-content-subtitle{
    font-size: 1em;
    color: rgb(0, 24, 75);
}


.mid-col{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.item{
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 240, 243);
    margin: 15px ;
    padding: 1em 1.5em;
    text-decoration: none;
    color: rgb(0, 24, 75);
    transition: all .2s;
    font-weight: bolder;
    text-transform: uppercase;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.253);
    border-radius: 10px;
}

.item:hover{
    color: rgb(255, 102, 0);
}


.icon svg{
    width: 5em;
    height: 4em;
}







.box-form-maps{
    background-color: rgb(244, 250, 252);
    text-align: center;
    padding: 3em 0 50px 0;
}

.title-form h3{
    font-size: 2em;
    color: rgb(255, 102, 0);
    text-transform: uppercase;
}

.title-form p{
    font-size: 1.5em;
    color: rgb(0, 24, 75);
    
}

.form{
    background-color: rgb(227, 240, 243);
    width: 80vw;
    margin: auto;
    padding: 0.5em 0 3em;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
}

.content-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-form{
    border: 2px transparent solid;
    margin: 10px;
    border-radius: 10px;
    padding: 1em 5em 1em 0.5em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
}

.item-form:hover{
    border: 2px solid rgb(255, 102, 0);
}

.btn-submit{
    margin-top: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 1em 2em;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
    transition: all .2s;
}

.btn-submit:hover{
    border: 2px solid rgb(255, 102, 0);
}




.maps h3{
    color: rgb(0, 24, 75);
    font-size: 2em;
}
.maps iframe{
    width: 70vw;
    height: 40vh;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.438);
}







.blog h3{
    text-align: center;
    color: rgb(255, 102, 0);
    font-size: 2em;
    margin-top: 50px;
}

.blog-content{
    display: grid;
    grid-template-columns: 1fr;
}

.blog-item{  
    margin: 2em auto;
    width: 90vw;
}

.blog-item a{
    text-decoration: none;
    color: rgb(0, 24, 75);
}

.blog-item a:hover{
    transition: all .2s;
    color: rgb(255, 102, 0);
}

.blog-item img{
    width: 90vw;
    height: 50vh;
    display: block;

    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.356);
    margin-bottom: 1em;
}

.blog-text span{
    font-size: 1em;
    font-weight: bolder;
    display: block;
    padding-left: 1em;
    letter-spacing: 1px;
}


.blog-text p{
    display: block;
    color: black;
    font-size: .9em;
    padding: 0 .8em;
}




.all-news{
    text-align: center;
}

.all-news a{
    text-decoration: none;
    color: rgb(255, 102, 0);
    font-size: 1.5em;
    border-bottom: solid 2px blue;
    transition: all .2s;
    display: inline-block;
    
}

.all-news a:hover{
    border-bottom: solid 2px rgb(255, 102, 0);
}





.footer{
    display: grid;
    grid-template-columns: 1fr;
    border-top: solid 3px rgb(255, 102, 0) ;
    margin-top: 100px;
    background-color: rgb(16, 45, 105);
    width: 100vw;
    text-align: center;
    color: rgb(122, 133, 155);
    padding: 20px 0;
}

.footer address span{
    color: rgb(0, 162, 255);
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
}

.footer address p{
    font-size: 1em;
}




.div-logotipo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.span-icon-footer{
    font-style: italic;
    display: flex;
    text-transform: uppercase;
    font-size: 1.2em;
    color: rgb(255, 102, 0);
    border-bottom: 4px double rgb(255, 102, 0);
    border-top: 4px double rgb(255, 102, 0);
    user-select:none
}

.logotipo-footer{
    height: 6vh;
    margin: 10px 5px 20px 0 ;
}


.social-media{
    text-align: center;
    padding: 0 ;
}

.social-media li{
    font-size: 2.5em;
    padding: .3em;
    list-style: none;
    display: inline-block;
}

.social-media a{
    color: rgb(164, 174, 196);
    text-decoration: none;
    transition: all .2s;
}

.social-media a:hover{
    color: rgb(0, 162, 255);
}


.footer small{
    border-top: solid rgb(122, 133, 155) 1px;
    margin: 10px;
    padding: 10px;
}






@media screen and (min-width: 35em){ 

    .blog-item{
        width: 80vw;
    }

    .blog-item img{
        width: 80vw;
        height: 50vh;
    }
}


@media screen and (min-width: 50em){
    
    .blog-item{
        width: 80vw;
    }

    .blog-item img{
        width: 80vw;
        height: 60vh;
    }
}




@media screen and (min-width: 62.5em){
    .header{
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .div-logotipo-header{
        padding: .5em 2em;
    }



    .nav-header ul{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .nav-header li a{
        font-size: 1em;
        padding: 2em 1em;
    }
    
    


    
    .slide-outside{
        width: 80vw;
}
    




    .mid-col{
        grid-template-columns: repeat(4, 1fr);
    }


    

    .blog-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .blog-item{  
        width: 30vw;
    }
    
    
    .blog-item img{
        width: 30vw;
        height: 30vh;
    }

    .grid-footer{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 15em);
    }
    
    .grid-content-footer{
        
        display: flex;
        justify-content: center;
        margin: auto;
    }

}
    

@media screen and (min-width: 80em){

    @keyframes slide-80em{
        0%, 22%, 100%{
            transform: translateY(0);
        }
    
        25%, 47%{
            transform: translateY(-70vh);
        }
    
        50%, 72%{
            transform: translateY(-140vh);                    
        }
    
        75%, 97%{
            transform: translateY(-210vh);                    
        }  
    }

    .header{
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .div-logotipo-header{
        padding: 1em 2em;
    }


    .nav-header ul{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .nav-header li a{
        font-size: 1em;
        padding: 2.5em;
    }
    
    
    







    .slide-outside{
        width: 80vw;
        height: 70vh;
    }

    .slide-inside{
        width: 100%;
        animation: slide-80em 20s infinite cubic-bezier(.17,-0.38,.76,1.34);
    }

    .slide-inside img{
        height: 70vh;
    }


    



    .form{
        width: 45vw;
    }

    .maps{
        border-left: solid 2px  rgb(177, 191, 194);
    }

    .maps iframe{
        width: 45vw;
        height: 50vh;
    }

    .box-form-maps{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }


    .blog-item{  
        width: 31vw;
    }
    
    .blog-item img{
        width: 31vw;
        height: 45vh;
    }
}